/*how to incorporate a stylesheet into html
<head>
<link rel="stylesheet" href="webpage.css">
</head>*/

/*inline will override this external stylesheet, so make sure all inline is removed
to ensure that the styling is applied*/

/* CSS Variables */
	
:root{
	/* Primary Colors are black and gold*/
	--black: black;
	--gold: #ffc425;
	
	/* Secondary Colors are dark gold, warm gray, and gold highlight */
	--dark-gold: #ad8500;
	--warm-gray: #bbb0a6;
	--gold-highlight: #ffe4aa;
}

/*downloaded font for titles & headers*/
@font-face{
	font-family: TrajanPro_Bold;
	src: url(trajanpro_bold.otf);
}

/*top navigation*/
.topnav{
	background-color: var(--gold);
	overflow: hidden;
	border: 1px solid var(--gold);
}

/*top navigation tab link styling*/
.topnav a {
	float: right;
	color: var(--black);
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
	font-family: Futura, sans-serif;
	font-size: 15px;	
}

.topnav a:hover{
	
	position: relative;
	color: var(--gold-highlight);
	
}

.topnav a:after{
	content: '';
	position: absolute;
	display: inline-block;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: 2px;
	left: 5px;
	background-color: var(--gold-highlight);
	transition: transform 0.35s ease-out;
}

.topnav a:hover:after{
	transform: scaleX(1);
}

/*top title*/
.logo img{
	float: left;
	//width: 108.5px;
	//height: 96px;
	margin-right: 15px;
}

/*headings*/
h1, h2{
	font-weight: bold;
	font-family: TrajanPro_Bold;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 45px;
}

h3{
	font-weight: bold;
	font-size: 20px;
	font-family: Futura, sans-serif;
}


/*applies to all body text and their headers*/
.bodytext{
	background-color: white;
	font-family: Futura, Arial;
	width: 90%;
	border: 0;
	padding: 20px;
	margin: 0;
}
