/*how to incorporate a stylesheet into html
<head>
<link rel="stylesheet" href="webpage.css">
</head>*/

/*inline will override this external stylesheet, so make sure all inline is removed
to ensure that the styling is applied*/

/*applies to all elements*/

/* CSS Variables */	
:root{
	/* Primary Colors are black and gold*/
	--black: black;
	--gold: #ffc425;
	
	/* Secondary Colors are dark gold, warm gray, and gold highlight */
	--dark-gold: #ad8500;
	--warm-gray: #bbb0a6;
	--gold-highlight: #ff34aa
}

*{
	font-family: Futura, Arial;
}

/*top navigation*/
.topnav{
	background-color: var(--gold);
	overflow: hidden;
}

/*top navigation tab link styling*/
.topnav a {
	float: right;
	color: #000000;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;	
}

.topnav a:hover{
	background-color: var(--gold-highlight);
}

h1{
	font-weight: bold;
	font-size: 50px;
}

body {
	background-color: var(--gold-highlight);
	font-family: Futura, Arial;
	
	
	
}
